name: Build Debug APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Run Gradle build (install Gradle automatically)
        working-directory: ./PortraitCameraFull     # MUST BE BEFORE "uses"
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: '8.1.1'
          arguments: clean assembleDebug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: PortraitCameraFull/app/build/outputs/apk/debug/app-debug.apk
